.DS_Store
TwentyFourHours.xcodeproj/project.xcworkspace/xcuserdata/vjosullivan.xcuserdatad/UserInterfaceState.xcuserstate
TwentyFourHours.xcodeproj/xcuserdata/vjosullivan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist